

.carta{
    cursor: pointer;
    position: relative;
    transition: 1s;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
  }
  .carta{
   backface-visibility: hidden;
   transition: 1s;
  }
  
  .redes{
    opacity: 0.5;
    transition: 0.2s;
  }
  .redes:hover{
    transition: 0.2s;
    opacity: 1;
  }
  #imagen_footer{
    width: 30%;
  }
  
  #contactanos{
    background-color: rgb(186, 145, 226);
    border: none;
    border-radius: 12px;
  }
  #contactanos:hover{
    transition: 0.2s;
    background-color: rgb(115, 115, 153);
  }

  .cont{
    opacity: 0.7;
  }
  .cont:hover{
    opacity: 1;
    transition: 0.2s;
  }
  
  .notificacion{
    background-color: rgba(0, 0, 0, 0.75);
  }

  #empezar{
    border: none;
    border-radius: 16px;
    background-color: orange;
    color: white;
    size: 80px;
    width: 20%;
    height: 6%;
  }

  .modal_contenedor {
    min-height: 90%;
    max-width: 1200px;
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

  .modal_content {
    background-color: #fff;
    border: 8px solid var(--color1);
    border-radius: 15px;
    position: relative;
    width: 100%;
    max-width: 1000px;
  }

  .modal_columnas {
    display: grid;
    grid-template-columns: 60% 1fr;
    flex-direction: row;
    background-color: #E6CE76;
    background-image: url(./estrellas.png);
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
  }

  .modal_column1 {
    padding: 15px;
    background-color: var(--color1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(./escena.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 0;
    padding-bottom: 64%;
    border-radius: 7px 0 0 7px;
    position: relative;
    overflow: hidden;
}

  .modal_column2{
    font-size: 18px;
    padding: 10px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(./cinta.png), url(./bola.png);
    background-size: 18%, 30%;
    background-position: top 7% left 4%, top right -5%;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    position: relative;
}

.modal_column2 .copo1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 30px;
  height: auto;
  animation: 2.5s rotate alternate-reverse infinite;
}

.modal_column2 .copo2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 30px;
  height: auto;
  animation: 2.5s rotate alternate-reverse infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.modal_column1 .gaspar {
  position: absolute;
  left: 40%;
  top: 14.8%;
  width: 19%;
  height: 65.5%;
}
.modal_column1 .baltazar {
  position: absolute;
  left: 25.3%;
  top: 13.3%;
  width: 17.7%;
  height: 60%;
}
.modal_column1 .melchor {
  position: absolute;
  left: 46.5%;
  top: 39.3%;
  width: 30%;
  height: 51.2%;
}
.modal_column1 .pastor {
  position: absolute;
  left: 69.3%;
  top: 20%;
  width: 18.7%;
  height: 67%;
}
.modal_column1 .jose {
  position: absolute;
  left: 4.8%;
  top: 22.6%;
  width: 16.3%;
  height: 62.8%;
}
.modal_column1 .maria {
  position: absolute;
  left: 1.4%;
  top: 44.4%;
  width: 26.6%;
  height: 56%;
}
.modal_column1 .jesus {
  position: absolute;
  left: 25.4%;
  top: 68.2%;
  width: 21.5%;
  height: 28.8%;
}
.modal_column1 .mula-buey {
  position: absolute;
  left: 80%;
  top: 40%;
  width: 20%;
  height: 60.2%;
}


.posicion{
  position: absolute;
}

.rotacion{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 0.5s;
}
.rotaciont{
  backface-visibility: hidden;
  transition: 0.5s;
}

.notificacion{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.ocultar{
  display: none !important;
}

.sabias{
  background-color: rgb(219, 208, 82);
  width: 90%;
  border-radius: 12px;
}
.sabias .col-5{
  background-color: rgb(253, 230, 126);
  color: rgb(140, 121, 67);
}
.sabias .col-5 button{
  border: none;
  border-radius: 10px;
  background-color: rgb(200, 121, 73);
  color: white;
  height: 15%;
  width: 30%;
}


.gaspar{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('gaspar.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s;
}

.jose{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('jose.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s;
}
.mula{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('mula.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  
  transition: 0.5s;
}
.ninodios{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('ninodios.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  
  transition: 0.5s;
}
.baltazar{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('baltazar.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  
  transition: 0.5s;
}
.melchor{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('melchor.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  
  transition: 0.5s;
}
.maria{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('maria.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  
  transition: 0.5s;
}
.mula{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('mula.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;
  
  transition: 0.5s;
}
.pastor{
  transform: rotateY(360deg);
  backface-visibility: hidden;
  background-image: url('pastor.png');
  background-position: right 50% top 2%;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 0.5s;
}
/*
.contenedor img{
  position: absolute;
  backface-visibility: hidden;
  transition: 1s  ;
  
}
*/
/*
.contenedor:hover img:nth-child(1){
  transform: rotateY(180deg);

}
*/

/*
.division{

}
*/